@charset "UTF-8";

/** link **/

.text-link-home {
  color: #0f253c;
  text-decoration: none;
}

.text-link-home:hover {
  color: #e30742;
  text-decoration: none;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  transition-delay: initial;
}

.text-link {
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  color: #e30742;
  text-decoration: none;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  transition-delay: initial;
}

.red {
  color: red;
}

.green {
  color: greenyellow;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.lightblue {
  color: #00B0E8;
}

.purple {
  color: purple;
}

.black {
  color: black !important;
}

.manchete_chapeu {
  color: #333333;
  font-size: 11px;
}

.manchete_titulo {
  font-family: "Georgia", "Arial";
  font-size: 25px;
  line-height: 1.3;
}

.noticia_chapeu1 {
  color: #333333;
  font-size: 12px;
}

.noticia_titulo1 {
  font-family: "Georgia", "Arial";
  font-size: 21px;
  line-height: 1.3;
}

.noticia_corpo1 {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.4;
}

.faixa_size {
  font-size: 18px;
}

.noticia_titulo2 {
  font-family: "Georgia", "Arial";
  font-size: 16px;
  line-height: 1.3;
}

/** serviços **/

.servicos1 {
  background: #87cdde;
}

.servicos2 {
  background: #6dc2d7;
}

.servicos3 {
  background: #56a1c0;
}

.giz_background {
  background: #f2f2f2;
}

.giz_titulo {
  font-family: Helvetica, Arial;
  font-size: 1.3rem;
  line-height: 1.4em;
}

.giz_corpo {
  font-family: Helvetica, Arial;
  font-size: 1.0rem;
  line-height: 1.4em;
}

